<html>
<head>
	<style type="text/css">
	body{
	background-color:#489bab;
	font-family: "Adobe Garamond Premier Pro";
	font-size: 20px;
	background:img/img_avatar1.png;
	color:yellow;
	}
</style>
</head>
 <body>

 	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Address Mainataince System</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
     
      <li><a href="home"><span class="glyphicon glyphicon-log-out"> Logout </a></span></li>
  </ul>
  </div>

 <div class="jumbotron text-center">
  <h1 style="color: black;">Contact Details</h1>
</div>

<ul class="nav navbar-nav">
      <li class="active"><a href="#">SearchedContacts</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">  
      <li><a href="contact"><span class="glyphicon glyphicon-user"></span>Contact</a></li>
      
  </ul>
 </br> </br>

<h1 style="color: yellow">
<ul type="square">
<% for d in @a
      if(d.uname==@s)
        if(d.group==@c)
           @arr=d %> 
           <li>ContactName:=>  <%= @arr.cname %></li>
           <li>ContactNumber:=>  <%= @arr.cnum %></li>
           <li>NickName:=>  <%= @arr.group %></li>
           <li>Address:=>  <%= @arr.address %></li>
           <li>District:=>  <%= @arr.district %></li>
          <li>State:=>  <%= @arr.state %></li>
          ---------------------------------------------------
          </ul>
      <%  end
      
      end
    end%>

</h1>

</body>
</html>